<ion-content>
  <ion-row>
    <ion-col size="9">
      <h1 class="welcome">Welcome</h1>
      <h1 class="buddy">Buddy !</h1>
    </ion-col>
    <ion-col size="3" style="margin: auto;">
      <p class="skip" (click)="home()">
        Skip
      </p>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <div style="margin-top: 9%;">
    <div class="ion-text-center">
      <img src="assets/imgs/cinema.svg" />
    </div>
    <div>
      <p class="info">Ready to experience out first class product? <span>Get started</span></p>
    </div>
  </div>
  <!-- <ion-row class="footer">
    <ion-col class="ion-text-center" style="padding: 20px;">
      <ion-button class="signup" (click)="signup()">Sign Up</ion-button>
    </ion-col>
    <ion-col class="ion-text-center" style="padding: 20px;">
      <ion-button class="login" (click)="login()">Login</ion-button>
    </ion-col>
  </ion-row> -->
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col class="ion-text-center" style="padding: 20px;">
      <ion-button class="signup" (click)="signup()">Sign Up</ion-button>
    </ion-col>
    <ion-col class="ion-text-center" style="padding: 20px;">
      <ion-button class="login" (click)="login()">Login</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>