<ion-content>
  <div>
    <div class="background" [ngStyle]="{'background-image': 'url(' +background+ ')'}">
      <img src="assets/imgs/KD-SVG-Dark.svg" />
    </div>
  </div>
  <div class="ion-text-center">
    <h1>Login</h1>
  </div>
  <div>
    <ion-row class="input_row">
      <ion-col size="12">
        <ion-item lines="none">
          <ion-input placeholder="Phone Number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="input_row">
      <ion-col size="12">
        <ion-item lines="none">
          <ion-input placeholder="Password"></ion-input>
          <ion-buttons slot="end">
            <ion-button>
              <ion-icon name="eye-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-col>
    </ion-row>
    <div style="width: 95%;">
      <p class="forget">Forget Password?</p>
    </div>
  </div>

</ion-content>
<ion-footer>
  <div style="text-align: center;padding: 20px 20px 30px;">
    <ion-button (click)="login()" class="login">Get me in !</ion-button>
  </div>
</ion-footer>