ion-header {
    background: #0b132b;
    ion-toolbar {
        --background: #0b132b;
        margin-bottom: -1px;
    }
    ion-title {
        color: #448b9b;
        font-weight: 500;
        font-size: 28px;
        margin: 25px 0px;
    }
}

ion-content {
    --background: #0b132b;
}

ion-card {
    ion-col {
        padding: 0px;
    }
    background: #1c2541;
    h1 {
        color: #2ac2e5;
        margin-left: 20px;
        font-weight: 600;
        font-size: 20px;
        ion-icon {
            margin: -4px;
        }
    }
    .location {
        margin-left: 20px;
        color: #3a506b;
        font-size: 15px;
        margin: 15px 15px 10px;
        ion-icon {
            zoom: 1.2;
            margin: 0px 0px -2px 0px;
        }
    }
    .time {
        margin-left: 20px;
        color: #3a506b;
        font-size: 15px;
        margin: 15px 15px 20px;
        ion-icon {
            zoom: 1.2;
            margin: 0px 0px -2px 0px;
        }
    }

    ion-button {
        width: 90%;
        height: 95px;
        font-weight: 500;
        font-size: 20px;
        --background: #3a506b;
        color: #2ac2e5;
    }
}
