ion-content {
    --background: #0b132b;
}

ion-header {
    background: #0b132b;
    ion-toolbar {
        --background: #0b132b;
        margin-bottom: -1px;
    }
    ion-item {
        --background: transparent;
    }
    ion-avatar {
        height: 80px;
        width: 80px;
    }
    .hi {
        line-height: 40px;
        color: #2ac2e5;
        font-size: 23px;
    }
    .name {
        color: #2ac2e5;
        font-weight: bold;
        font-size: 25px;
        line-height: 40px;
        letter-spacing: 0.085em;
    }
}

ion-slide {
    img {
        width: 100%;
        height: 165px;
        object-fit: cover;
    }
}

ion-segment {
    padding: 15px;
    ion-segment-button {
        background: #1c2541;
        color: #2ac2e5;
        font-weight: bold;
        text-transform: capitalize;
        font-size: 17px;
    }
}

.row {
    ion-col {
        padding: 10px;
    }
    img {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
        height: 220px;
        object-fit: cover;
    }
    .title {
        background: #1c2541;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        ion-col {
            padding: 0px;
            margin: auto;
            p {
                margin: 5px;
                color: white;
                font-weight: bold;
            }
            ion-badge {
                margin: 5px;
                color: black;
                padding: 5px;
                border-radius: 7px;
            }
        }
    }
}
